/* Header/logo Title */
* {
    box-sizing: border-box;
  }
  
  body {
   
    background-repeat: no-repeat;
    
    background-size: 100%  20%;
  
  }
.header {
    padding: 180px;
    text-align: center;
    color: black;
}


#main {
    transition: margin-right .5s;
    padding: 16px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

